{% extends "layout.njk" %}

{% block content %}
    <main>

        <div class="card">
            <section class="avatar"></section>
            <section class="details">

                <div>
                    <form id="form-save" method='POST' action="/teachers?_method=PUT">
                        <h3>Editar Professor</h3>
                        {%include 'teachers/fields.njk'%}
                        <input type="hidden" name="id" value="{{teacher.id}}">

                    </form>

                    <form id="form-delete" action="/teachers?_method=DELETE" method="post">
                        <input type="hidden" name="id" value="{{teacher.id}}">

                    </form>

                    <button id="form-delete" form="form-delete"type="submit">DELETAR</button>
                    <button form="form-save" type="submit">SALVAR</button>
                </div>

            </section>

        </div>

        <script>
            const formDelete = document.querySelector("#form-delete")

            formDelete.addEventListener("submit", function (event) {
                const confirmation = confirm("Deseja mesmo deletar?")

                if (!confirmation) {
                    event.preventDefault()
                }
            })
        </script>
    </main>

{% endblock content %}