<div class="item">
    <div>Avatar Url</div>
    <div>
        <input type="url" name="avatar_url" value="{{teacher.avatar_url}}">
    </div>
</div>

<div class="item">
    <div>Professor</div>
    <div>
        <input type="text" name="name" value="{{teacher.name}}">
    </div>
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div><input type="date" name="birth" value="{{teacher.birth}}"></div>
</div>

<div class="item">
    <div>Grau de Escolaridade</div>
    <select name="grau">
        <option value="Ensino Médio completo">Ensino Médio completo</option>
        <option value="Ensino Superior completo">Ensino Superior completo</option>
        <option value="Mestrado">Mestrado</option>
        <option value="Doutorado">Doutorado</option>
    </select>
</div>

<div class="item">
    <div>Tipo das aulas</div>
    <span><input type="radio" name="aula_type" value="presencial" checked="checked">Aula presencial</span>
    <span><input type="radio" name="aula_type" value="distancia">Aula à distância</span>
</div>

<div class="item">
    <div>Matérias que leciona</div>
    <div>
        <input type="text" name="materias" value="{{teacher.materias}}">
    </div>
</div>
