{% extends "layout.njk" %}

{% block content %}
    <main>
        <div class="card">
            <table>
                <thead>
                    <th>Professor</th>
                    <th>Aulas</th>
                    <th>Formação</th>
                    <th>Ação</th>
                </thead>
            </table>
            <tbody>
                {% for teacher in teachers %}
                
                {% endfor %}
            </tbody>
            </section>
        </div>
    </main>

{% endblock content %}